<html>
  <head>
    <title>Register</title>
  </head>
  <body>
    <h1>Registration</h1>
    <form action="{{url_for('auth.register')}}" method="POST" enctype="multipart/form-data">
      <label>Username:</label>
      <input type="text" required name="username" />
      <input type="submit" value="Register"/>
    </form>
  </body>
</html>
